:root {
    --defaultFontColor: #EBDBD8;
    --backgroundColor: #FF6D60;
}

* {
    margin: 0;
    scroll-snap-type: y mandatory;
    font-family: inter;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
}

.page1 {
    background-color: var(--backgroundColor);
    background-image: url(assets/Page1FlowersBackground.png);
    background-size: 83%;
    background-repeat: repeat;
}
/* .page1 img {
    position: absolute;
    top: 12em;
    left: 25em;
    max-width: 30em;
} */
.page1 h1 {
    position: absolute;
    left: 175px;
    top: 135px;
    font-size: 64pt;
    color: var(--defaultFontColor);
}

.page2 {
    background-color: var(--backgroundColor);
    color: var(--defaultFontColor);
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(assets/Page1FlowersBackground.png);
    background-repeat: repeat;
}

.page2 h1 {
    font-size: 4em;
    margin-left: 4.5em;
    margin-bottom: -1em;
}

.WhoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10em;
    border-style: solid;
    border-color: rgba(199, 86, 74, .6);
    border-width: .5em;
    margin-left: 8%;
    width: 84%;
    height: 80%;
    margin-bottom: 7%;
    background-color: rgba(209, 90, 78, .6);
}

.WhoCard img {
    margin-right: 5em;
    max-height: 25em;
}

.WhoCard p {
    text-align: justify;
    color: var(--defaultFontColor);
    line-height: 120%;
    word-spacing: .6em;
    margin: 0em 3em 0px 7em;
    font-size: 17pt;
    font-weight: 600;
}

.page3 {
    background-color: var(--backgroundColor);
    color: var(--defaultFontColor);
    align-items: center;
    justify-content: center;
    background-image: url(assets/Page1FlowersBackground.png);
    background-repeat: repeat;
}

.page3 h1 {
    font-size: 2em;
    margin-left: 8em;
    padding-top: 2em;
    margin-bottom: -2em;
}

.wishcard {
    border-radius: 10em;
    margin-top: 5%;
    border-style: solid;
    border-color: rgba(199, 86, 74, .6);
    border-width: .5em;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    background-color: rgba(209, 90, 78, .6);
}

.page3 p {
    text-align: justify;
    margin: 3em 6em 0em;
    font-size: 12pt;
    line-height: 100%;
}